body {
	background: blue;
	color: red;
}
li {
	list-style-type: disc;
	font-family: fantasy;

}
h1 {
  border: 1px solid #000;
  text-align: center;
}
div {
  border-radius: 50%;
  background: pink;
}